@charset "UTF-8";

html {
    box-sizing: border-box  
}

*, *::before, *::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

:root {
    --rosewater: #dc8a78;
    --flamingo: #dd7878;
    --pink: #ea76cb;
    --mauve: #8839ef;
    --red: #d20f39;
    --maroon: #e64553;
    --peach: #fe640b;
    --yellow: #df8e1d;
    --green: #40a02b;
    --teal: #179299;
    --sky: #04a5e5;
    --sapphire: #209fb5;
    --blue: #1e66f5;
    --lavender: #7287fd;
    --text: #4c4f69;
    --subtext1: #5c5f77;
    --subtext0: #6c6f85;
    --overlay2: #7c7f93;
    --overlay1: #8c8fa1;
    --overlay0: #9ca0b0;
    --surface2: #acb0be;
    --surface1: #bcc0cc;
    --surface0: #ccd0da;
    --base: #eff1f5;
    --mantle: #e6e9ef;
    --crust: #dce0e8;
    --inverted-text: var(--base);
    --selection-color: var(--blue);
}

@media (prefers-color-scheme: dark) {
    :root {
        --rosewater: #f5e0dc;
        --flamingo: #f2cdcd;
        --pink: #f5c2e7;
        --mauve: #cba6f7;
        --red: #f38ba8;
        --maroon: #eba0ac;
        --peach: #fab387;
        --yellow: #f9e2af;
        --green: #a6e3a1;
        --teal: #94e2d5;
        --sky: #89dceb;
        --sapphire: #74c7ec;
        --blue: #89b4fa;
        --lavender: #b4befe;
        --text: #cdd6f4;
        --subtext1: #bac2de;
        --subtext0: #a6adc8;
        --overlay2: #9399b2;
        --overlay1: #7f849c;
        --overlay0: #6c7086;
        --surface2: #585b70;
        --surface1: #45475a;
        --surface0: #313244;
        --base: #1e1e2e;
        --mantle: #181825;
        --crust: #11111b;
        --inverted-text: var(--crust);
        --selection-color: var(--mauve);
    }
}

:root {
    --purple-shimmer: linear-gradient(-45deg,var(--mauve),var(--lavender));
    --blue-shimmer: linear-gradient(-45deg,var(--blue),var(--sapphire));
    --green-shimmer: linear-gradient(-45deg,var(--green),var(--teal));
    --yellow-shimmer: linear-gradient(-45deg,var(--yellow),var(--peach));
    --orange-shimmer: linear-gradient(-45deg,var(--peach),var(--maroon));
    --red-shimmer: linear-gradient(-45deg,var(--red),var(--pink));
    --pink-shimmer: linear-gradient(-45deg,var(--pink),var(--flamingo));
}

@font-face {
    font-family: Inter;
    src: url('inter.ttf') format("truetype");
    font-display: swap;
    font-weight: 125 950;
    font-stretch: 75% 125%;
    font-style: normal;
}

@font-face {
    font-family: Inter;
    src: url('inter-oblique.ttf') format("truetype");
    font-display: swap;
    font-weight: 125 950;
    font-stretch: 75% 125%;
    font-style: oblique;
}

body {
    font-family: Inter,system-ui,sans-serif;
    font-size: clamp(15px,4vw,2rem);
    color: var(--subtext1);
    font-weight: 400;
    line-height: 1.5;
    background-color: var(--crust);
}

b {
    font-weight: 600;
}

h1 {
    font-weight: 800;
    line-height: 1.2;
}

h2,h3,h4,h5 {
    font-weight: 600;
    line-height: 1.2;
}

h1,h2,h3,h4,h5 {
    margin: 0;
    color: var(--text);
}

h1 {
    font-size: clamp(28px,6vw,250%);
}

h2 {
    font-size: clamp(24px,5vw,175%);
}

h3 {
    font-size: clamp(22px,4.25vw,125%);
}

h4 {
    font-size: clamp(20px,4vw,100%);
}

h5 {
    font-size: clamp(16px,3.2vw,80%);
}

p {
    font-weight: 400;
}

a {
    color: var(--blue);
    text-decoration: none;
}

button {
    font-weight: 600;
    line-height: 1.2;
    padding: 1rem 1rem;
    font-size: clamp(16px,3.2vw,80%);
    color: var(--crust);
    background: linear-gradient(-45deg,var(--green),var(--teal));
    border-radius: 5rem;
    border: none;
    cursor: pointer;
}

.navbar {
    position: absolute;
    padding: 0rem 0rem 0rem 0rem;
    display: flex;
    justify-content: space-between;
    height: 4rem;
    width: 100%;
    border-bottom: 1px solid var(--overlay0);
}

.navbar button {
    font-weight: 600;
    line-height: 1.2;
    font-size: clamp(16px,3.2vw,80%);
    color: var(--text);
    transition: color 0.2s ease-in-out;
    background-color: transparent;
    border: none;
    cursor: pointer;
    height: 100%;
    width: 8rem;
    border-left: 1px solid var(--overlay0);
    background: none;
    border-radius: 0;
}

.navbar button:hover {
    color: var(--subtext0);
}