@charset "UTF-8";

@import "tailwindcss";

@theme {
  --font-display: "Inter", "sans-serif";
  --font-comic: "Comic Sans MS";
  --color-*: initial;
  --color-rosewater-100: #f5e0dc;
  --color-rosewater-500: #dc8a78;
  --color-flamingo-100: #f2cdcd;
  --color-flamingo-500: #dd7878;
  --color-pink-100: #f5c2e7;
  --color-pink-500: #ea76cb;
  --color-mauve-100: #cba6f7;
  --color-mauve-500: #8839ef;
  --color-red-100: #f38ba8;
  --color-red-500: #d20f39;
  --color-maroon-100: #eba0ac;
  --color-maroon-500: #e64553;
  --color-peach-100: #fab387;
  --color-peach-500: #fe640b;
  --color-yellow-100: #f9e2af;
  --color-yellow-500: #df8e1d;
  --color-green-100: #a6e3a1;
  --color-green-500: #40a02b;
  --color-teal-100: #94e2d5;
  --color-teal-500: #179299;
  --color-sky-100: #89dceb;
  --color-sky-500: #04a5e5;
  --color-sapphire-100: #74c7ec;
  --color-sapphire-500: #209fb5;
  --color-blue-100: #89b4fa;
  --color-blue-500: #1e66f5;
  --color-lavender-100: #b4befe;
  --color-lavender-500: #7287fd;
  --color-text-100: #cdd6f4;
  --color-text-500: #4c4f69;
  --color-subtext-100: #bac2de;
  --color-subtext-300: #a6adc8;
  --color-subtext-500: #6c6f85;
  --color-subtext-700: #5c5f77;
  --color-overlay-100: #9399b2;
  --color-overlay-200: #7f849c;
  --color-overlay-300: #6c7086;
  --color-overlay-500: #9ca0b0;
  --color-overlay-600: #8c8fa1;
  --color-overlay-700: #7c7f93;
  --color-surface-100: #585b70;
  --color-surface-200: #45475a;
  --color-surface-300: #313244;
  --color-surface-500: #ccd0da;
  --color-surface-600: #bcc0cc;
  --color-surface-700: #acb0be;
  --color-base-100: #1e1e2e;
  --color-base-500: #eff1f5;
  --color-mantle-100: #181825;
  --color-mantle-500: #e6e9ef;
  --color-crust-100: #11111b;
  --color-crust-500: #dce0e8;
}

:root {
    --purple-shimmer: conic-gradient(from 90deg at 50% 50%,var(--color-lavender-100),var(--color-mauve-100),var(--color-lavender-100));
    --blue-shimmer: conic-gradient(from 90deg at 50% 50%,var(--color-sapphire-100),var(--color-blue-100),var(--color-sapphire-100));
    --green-shimmer: conic-gradient(from 90deg at 50% 50%,var(--color-teal-100),var(--color-green-100),var(--color-teal-100));
    --yellow-shimmer: conic-gradient(from 90deg at 50% 50%,var(--color-peach-100),var(--color-yellow-100),var(--color-peach-100));
    --orange-shimmer: conic-gradient(from 90deg at 50% 50%,var(--color-maroon-100),var(--color-peach-100),var(--color-maroon-100));
    --red-shimmer: conic-gradient(from 90deg at 50% 50%,var(--color-pink-100),var(--color-red-100),var(--color-pink-100));
    --pink-shimmer: conic-gradient(from 90deg at 50% 50%,var(--color-pink-100),var(--color-flamingo-100),var(--color-pink-100));
    --rgb-shimmer: conic-gradient(from 90deg at 50% 50%,var(--color-red-100),var(--color-green-100),var(--color-blue-100), var(--color-red-100));
    --cmy-shimmer: conic-gradient(from 90deg at 50% 50%,var(--color-teal-100),var(--color-mauve-100),var(--color-yellow-100), var(--color-teal-100));
    --trans-shimmer: conic-gradient(from 90deg at 50% 50%,var(--color-text-100),var(--color-pink-100),var(--color-sapphire-100), var(--color-text-100));
}

:root {
  --xxxs-em: calc(1em / pow(1.618033988749, 3));
  --xxs-em: calc(1em / pow(1.618033988749, 2));
  --xs-em: calc(1em / pow(1.618033988749, 1));
  --s-em: calc(1em / pow(1.618033988749, 0));
  --m-em: calc(1em * pow(1.618033988749, 1));
  --l-em: calc(1em * pow(1.618033988749, 2));
  --xl-em: calc(1em * pow(1.618033988749, 3));
  --xxl-em: calc(1em * pow(1.618033988749, 4));
  --xxxl-em: calc(1em * pow(1.618033988749, 5));
}

body {
  font-size: clamp(16px, 4vw, 2rem);
  color: var(--color-subtext-100);
  font-weight: 400;
  line-height: 1.5;
  background-color: var(--color-crust-100);
}

/* Hide scrollbars globally while keeping scroll functionality */
* {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 10+ */
}

*::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

h1, h2 {
    font-weight: 800;
    line-height: 1.2;
}

h3 {
    font-weight: 750;
}

h4 {
    font-weight: 700;
}

h5 {
    font-weight: 600;
}

h6 {
    font-weight: 500;
}

h1, h2, h3, h4, h5, h6 {
  color: var(--color-text-100);
}

b {
  font-weight: 600;
}

a {
    color: var(--color-blue-100);
    text-decoration: none;
}

.background-lambda::before {
    content: "λ";
    position: absolute;
    top: -7.5%;
    left: 0;
    z-index: -100;
    color: var(--color-base-100);
    font-size: 120vh;
    text-align: center;
    translate: 0 -20%;
}